*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color: #333;
    line-height:1.6em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
}
p{
    margin: 10px 0;
}
img{
    width: 100%;
}
/* Navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    height: 70px;
    padding: 0 30px;
}
.navbar.top{
    background: transparent;
}
.navbar a:hover{
    border-bottom: rgb(81, 250, 89) 2px solid;
}
.navbar li{
    float: left;
    padding: 10px;
}
.navbar a{
    color: white;
}
.navbar .logo{
    font-weight: 400;
}
/*header*/
.mainhead{
    background: url('./image_resources/home/showcase.jpg');no-repeat center cover; 
    height: 100vh;
    position: relative;
    color: white;
}
.mainhead .content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}
.mainhead .content h1{
    font-size: 50px;
}
.mainhead .content p{
    font-size: 22px;
    max-width: 600px;
    margin: 20px;
}
.mainhead::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    background:rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}
.mainhead * {
    z-index:10;
}
.mainhead.blog{
    background: url(./image_resources/home/blog.jpg) no-repeat center center/cover;
    height: 30vh;
}
/*About Section */
.icons h3{
    font-weight: bold;
    padding: 10px;
}
.flex-items{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}
.flex-items > div{
    padding: 0 20px;
}
/*About columns */
#blog .row{
    flex-direction: row-reverse;
}
.solution .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.solution .column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
}
.solution .column .column-1,
.solution .column .column-2{
    height: 100%;
}
.solution .column .column-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
}
.solution img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.solution h2{
    font-size: 40px;
    font-weight: 100;
}
.solution h4{
    margin-bottom: 10px;
    font-size: 22px;
}
.solution p{
    margin:20px 0;
}
/*section header*/
.section-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
    justify-content: center;
}
.section-header h2{
    font-size: 40px;
    margin:20px 0;
}
/* flex-grid */
.flex-grid .row{
    display: flex;
    flex-wrap: wrap;
    padding:0 4px;
}
.flex-grid .column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
/* team */
.flex-items img{
    border-radius: 50%;
}
/* callback-form*/
.callback-form{
    width: 100%;
    padding: 20px o;
}
.callback-form label{
    display: block;
    margin-bottom: 5px;
}
.callback-form .form-control{
    margin-bottom: 15px;
}
.callback-form input{
    width: 100%;
    padding: 4px;
    height: 40px;
    border: 1px solid black;
}
.callback-form .button{
    margin-top: 20px;
}
/* Footer */
.mainfooter{
    display: block;
    text-align: center;
    background-color:#333;
    color: white;
    padding: 10px;
}
/* MObile view */
@media(max-width: 768px){
.navbar{
    flex-direction: column;
    height: 150px;
    padding: 20px;
}
.navbar a{
    padding: 5px;
    margin: 0 3px;
}
.flex-items{
    flex-direction: column;
}
.solution .column,
.flex-grid .column{
    flex: 100%;
    max-width: 100%;
}
.team img{
    width: 70%;
}
}
/*blog Post*/      
.post{
    padding: 50px 30px;
}
.post h2{
    font-size: 40px;
    margin-bottom: 30px;  
    border-bottom:1px solid #ccc;
    padding-bottom: 10px;
}
.post img{
    width: 300px;
    border-radius: 50%;
    display:block;
    margin: 0 auto 30px;
}

